.profile-info{
  padding: size(4) 0;
}

.profile-info-userpic{
  width: size(12);
  height: size(12);
  background-color: $color-gray-2;
  margin: 0 auto;
  display: block;
  margin-bottom: size(2);
}

.profile-info-progressbar{
  position: relative;
  height: size(3);
  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-gray-2;
  }
  &:after{
    background-color: $color-accent;
    right: 37%;
  }
}