$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;

$z-index-map: ();

$font-path: '../assets/fonts';
$font-family-celias: "Celias","Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif;
$font-family-celias-weights: (
  'Hairline':  100,
  'Thin':      200,
  'Light':     300,
  'Regular':   400,
  'Medium':    500,
  'Bold':      700,
  'Black':     900
  );

$color-gray-1:     hsl(0,0%,97.5%);
$color-gray-2:     hsl(0,0%,89%);
$color-gray-3:     hsl(0,0%,80%);
$color-gray-4:     hsl(0,0%,71%);
$color-gray-5:     hsl(0,0%,62%);
$color-gray-6:     hsl(0,0%,53%);
$color-gray-7:     hsl(0,0%,44%);
$color-gray-8:     hsl(0,0%,35%);

$color-background: $color-gray-1;
$color-text:       $color-gray-8;
$color-accent:     hsl(160,100%,35%);

$grid-step: 0.8; // 8px
$baseline-grid-step: $grid-step / 2;
$heading-line-height-multiplier: 1.1;